.col-xs-15 {
    width: 20%;
    float: left;
}

.cont-top {
    padding: 5px 10px;
}

.modificacion {
    padding: 19.5px 20px;
}

.act-empresa {
    padding: 20px 0px;
}

.icon-empresa {
    padding: 20px 0px;
    text-align: center;
}

.icon-empresa button {
    margin-top: 10px;    
}

.vert-center {
    display: flex;
    align-items: center
}

.flex, .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    flex-direction: column;
}

.separador {
    margin: 0px 30px 0px 0px
}
.logo img {
    width: 100%;
    margin-bottom: 10px;
}

.logo-middle {
    text-align: center;
}
.logo-middle img{
    width: 50%;
}

.middle-box1 {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .middle-box1 {
    max-width: 80%;
}
    .logo-middle img {
        width: 80%;
    }
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}